<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5bb188b-8920-485c-bdec-7f452b55b1ac/resourcegroups/studentApp220200504113634ResourceGroup/providers/Microsoft.Web/sites/studentApp220200504114227</ResourceId>
    <ResourceGroup>studentApp220200504113634ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studentapp220200504114227.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>studentapp220200504114227.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>studentApp220200504114227</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$studentApp220200504114227</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:studentapp2dbserver.database.windows.net,1433;Initial Catalog=studentApp2_db;Persist Security Info=False;User ID=Vraciu.Lu.Stefan@utcluj.didatec.ro@studentapp2dbserver;Password=Mateinfo1998%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:studentapp2dbserver.database.windows.net,1433;Initial Catalog=studentApp2_db;Persist Security Info=False;User ID=Vraciu.Lu.Stefan@utcluj.didatec.ro@studentapp2dbserver;Password=Mateinfo1998%;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="studentApp2.Models.ApplicationDbContext, studentApp2" MigrationConfiguration="studentApp2.Migrations.Configuration, studentApp2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="studentApp2Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|studentApp2Context-20200429193104.mdf;Initial Catalog=studentApp2Context-20200429193104;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\studentApp2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=studentApp2Context-20200429193104; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|studentApp2Context-20200429193104.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="studentApp2Context-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:studentapp2dbserver.database.windows.net,1433;Initial Catalog=studentApp2_db;Persist Security Info=False;User ID=Vraciu.Lu.Stefan@utcluj.didatec.ro@studentapp2dbserver;Password=Mateinfo1998%;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>