<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/86c0f025-0475-4ae5-ab3f-0d5bbde507a8/resourceGroups/uniHelpiiResourceGroup/providers/Microsoft.Web/sites/unihelpii</ResourceId>
    <ResourceGroup>uniHelpiiResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://unihelpii.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>unihelpii.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>unihelpii</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$unihelpii</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="studentApp2.Models.ApplicationDbContext, studentApp2" MigrationConfiguration="studentApp2.Migrations.Configuration, studentApp2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="studentApp2Context" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|studentApp2Context-20200429193104.mdf;Initial Catalog=studentApp2Context-20200429193104;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\studentApp2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=studentApp2Context-20200429193104; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|studentApp2Context-20200429193104.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="studentApp2Context-Web.config Connection String">
      <ParameterValue>Server=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:unihelpiidbserver.database.windows.net,1433;Initial Catalog=unihelpii_db;Persist Security Info=False;User ID=vraciustefancatalin@gmail.com@unihelpiidbserver;Password=Mateinfo25;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>